extends layout

block content
    h1= 'DataList of FieldBoo.com sheet'

    div
        table(class = 'pure-table')
            thead
                tr
                    th Record No
                    th Record Url
                    th Key
                    th Name
                    th Status
                    th URL
                    th Asana Project
                    th Hubspot Company
                    th Slack X
                    th Slack
                    th Husbpot Company
                    th HubSpot Contact
                    th Field19
                    th Harvest Project
            tbody
            each record in data
                //- var count = 0;
                tr
                each every_data in record
                    td
                        p= every_data
                        //if count > 1
                        //    p= every_data
                        //- count++;